body {
  /* background-color: blue; */
  background-image: url("../images/main-background.png");
}
/* header {
  background-color: #ffffff;
} */
.your-name {
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
}

#my-photo {
  margin-right: 10px;
  float: left;
}
.about-me {
  padding: 0;
}
.info {
  padding: 0;
}
